.mainContainer {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 5;
  grid-gap: 20px;
}
.outHeaderContainer {
  background-color: bisque;
  grid-row: 1;
  grid-column: 1/end;
}
.headerContainer {
  padding: 1em;
  background-color: gray;
  grid-row: 2/3;
  grid-column: 2/3;
}
.messagesContainer {
  display: flex;
  flex-direction: column;
  grid-row: 3/4;
  grid-column: 2/3;
}
.modal {
  background-color: chocolate;
}
.messageItem.leftSide:hover .display-none {
  display: block;
}
.display-none{
  display: none;
}

.sendMessageForm {
  display: inline-block;
  grid-row: 4/5;
  grid-column: 2/3;
  padding-left: 20px;
  padding-right: 20px;
}
input.sendMessageForm {
  width: 80%;
}
.footer{
  background-color: bisque;
  grid-row: 5;
  grid-column: 1/end;
  text-align: center;
  text-shadow: gray 1px 0 10px;
}
.headeritem{
  padding-left: 50px;
  padding-right: 50px;
}
.messageItem {
  padding-top: 20px;
  padding-bottom: 20px;
}
div.messageItem {
  display: flex;
}
.messageItem.rightSide {
  margin-left:auto;
}
.textRightSide {
  width: 400px;
  margin-left:auto;
}
.messageItem.leftSide {
  padding: 5px;
  margin-left: 0px;
}
.dateMessage {
  padding-left: 20px;
}
.preloader {
  z-index:10;
  grid-row: 2/3;
  grid-column: 2/3;
}
.like.active {
  color: brown;
  fill-opacity: .5
}


.avatar {
  width: 50px;
  height: 50px;
}
.like {
  width: 20px;
}
.logo {
  width: 50px;
}
